.container {
  padding: 1em 1em 0;
}

.address {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
  padding: 0.375em 0.5em;
  width: 100%;
}

.address:focus {
  background-color: #FFF;
  color: #000;
  outline: none;
}
