.AddressInput {
  margin-top: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
  padding: 0.375em 0.5em;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.AddressInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.AddressInput:focus {
  background-color: #FFF;
  color: #000;
  outline: none;
}
