.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content {
  color: #FFF;
  max-width: 40em;
  min-width: 18em;
  display: flex;
  flex-flow: column nowrap;
  flex-basis: content;
}

.default {
  background-color: #7F8C8D;
}

.hot {
  background-color: #E74C3C;
}

.warm {
  background-color: #E67E22;
}

.mild {
  background-color: #16A085;
}

.chilly {
  background-color: #3498DB;
}

.cold {
  background-color: #2980B9;
}

.frigid {
  background-color: #34495E;
}
