.container {
  padding: 1em 1em 0;
  width: 100%;
}

.locations {
  margin-top: 0.5em 0 0 0;
  background-color: #FFF;
  color: #000;
  border-radius: 0.25em;
  list-style: none;
  padding: 0;
}

.locations > li {
  border-top: 1px solid #7F8C8D;
}

.locations > li:first-of-type {
  border-top: none;
}

.button {
  text-align: left;
  padding: 0.375em 0.5em;
  width: 100%;
  font-weight: 200;
}
