.ForecastSelect {
  width: 100%;
  margin-top: 1em;
  font-size: 1em;
}

.ForecastSelect .wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
  padding: 0.25em 0;
}

.ForecastSelect .select {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
  width: 100%;
}

.ForecastSelect .select:focus {
  border: none;
  outline: none;
}
